@import '../../styles/settings/_variables';

.fullpage {

	&__header {
		display: flex;
		color: #fff;
		font-size: 6rem;
		font-family: 'KPMG', 'sans-serif';
		letter-spacing: 1px;
		line-height: 1;
		opacity: 0;
		transform: translateY(100px);
		transition: opacity 0.8s 0s $easeOutCubic, transform 3s 0s $easeOutCubic;
	}

	&__number {
		font-size: 15rem;
		position: relative;
		top: -18px;
		font-weight: 300;
		padding-right: 20px;
		// opacity: 0;
		// transform: translateY(100px);
		// transition: all 0.8s  $easeOutCubic;
	}

	&__content {
		color: #fff;
		opacity: 0.8;
		opacity: 0;
		transform: translateY(100px);
		transition: opacity 0.8s 0s $easeOutCubic, transform 3s 0s $easeOutCubic;
	}

	&__image {
		width: 100%;
		opacity: 0;
		transform: translateY(100px);
		transition: opacity 0.8s 0s $easeOutCubic, transform 3s 0s $easeOutCubic;
	}
}

.section.active {
	.fullpage {
		&__number {
			// opacity: 1;
			// transform: translateY(0);
			// transition: all 0.8 0.4s $easeOutCubic;
		}
		&__header {
			opacity: 1;
			transform: translateY(0);
			transition: all 0.8s 0.4s $easeOutCubic;
		}
		&__content {
			opacity: 1;
			transform: translateY(0);
			transition: all 0.8s 0.6s $easeOutCubic;
		}
		&__image {
			opacity: 1;
			transform: translateY(0);
			transition: all 0.8s 0.8s $easeOutCubic;
		}
	}
}

.flex-row-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


@media (max-width: 1021px) {
	.fullpage__image {
		width: 100%;
		max-width: 300px;
		margin: 40px auto 0 auto;
		display: block;
	}

	.fullpage__header, .fullpage__number {
		font-size: 4rem;
	}
	.fullpage__number {
		top: 0;
		font-weight: bold;
	}
}