@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables';


.article__wrapper .post__animation .hero {
	transform: translateY(100px);
	opacity: 0;
	transition: all 0.8s $easeOutCubic;

	& .image {
		transform: none;
	}
}

.article__wrapper .post__animation.active > .hero {
	transform: translateY(0) !important;
	opacity: 1;
}

.article__wrapper .post__animation .kaltura_player__embed {
	transform: translateY(100px);
	opacity: 0;
	transition: all 0.8s $easeOutCubic;
}

.article__wrapper .post__animation.active .kaltura_player__embed {
	transform: translateY(0);
	opacity: 1;
}

.article {
	background: #fff;
	width: 100%;
	padding: 20px 45px;
	margin-top:-60px;
	position: relative;
	z-index: 30;

	transform: translateY(100px);
	opacity: 0;
	transition: all 0.8s $easeOutCubic;

	.post__animation.active & {
		transform: translateY(0);
		opacity: 1;
	}

	img.leftAlone {
		width: 100% !important;
		height: auto !important;
		transition: all 0.8s $easeOutCubic;
		transform: translateX(100px);
		opacity: 0;

		&.active {
			transform: translateX(0);
		  opacity: 1;
		}
	}


	p.right {
		float: right;
		width: 360px;
		margin: 10px -20% 10px 40px;

		@for $i from 0 to 4 {
		  img:nth-child(#{$i + 1}) {
		    transition: all 0.8s $i * 0.3s $easeOutCubic;
		  }
		}

		img {
			width: 100%;
			height: auto;
			margin-bottom: 20px;
			transform: translateX(100px);
			opacity: 0;
		}

		&.active img {
			transform: translateX(0);
		  opacity: 1;
		}
	}



	&__wrapper {
		width: 100%;
		background: #f2f2f2;
		color: #4a4a4a;
	}

	p.intro {
		font-size: 20px;
		line-height: 1.4;
	}

	p.intro + .intro {
		margin-bottom: 40px;
	}
}

.article__content {

	&--point-of-view blockquote {
		&.right, &.left, &.center {
			color: $green;
		}
	}

	&--briefing blockquote {
		&.right, &.left, &.center {
			color: $blue;
		}
	}

	&--in-depth blockquote {
		&.right, &.left, &.center {
			color: $purple;
		}
	}


	blockquote {
		margin: 0;
		transition: all 0.8s $easeOutCubic;
		opacity: 0;

		&.active {
			opacity: 1;
		}


		&.right {
			float: right;
			width: 360px;
			font-size: 25px;
			margin: 0px -20% 0px 40px;
			transform: translateX(100px);
			&.active {
				transform: translateX(0);
			}
		}
		&.left {
			float: left;
			width: 360px;
			font-size: 25px;
			margin: 0px 40px 0px -20%;
			transform: translateX(-100px);
			&.active {
				transform: translateX(0);
			}
		}
		&.center {
			width: 100%;
			font-size: 25px;
			padding: 10px 0 10px 0;
			transform: translateX(-100px);
			&.active {
				transform: translateX(0);
			}
		}

		&.captionImage {
			background: $purple;
			color: #fff;
			width: 360px;
			float: right;
			margin: 15px -20% 15px 40px;
			padding: 10px 20px;
			transform: translateX(100px);
			&.active {
				transform: translateX(0);
			}

			strong {
				font-family: 'KPMG', 'sans-serif';
				font-size: 36px;
				letter-spacing: 1px;
				line-height: 1;
				font-weight: 300;
			}

			&:before {
				content: 'i';
				display: flex;
				background: #fff;
				width: 40px;
				height: 40px;
				border-radius: 999px;
				justify-content: center;
				align-items: center;
				line-height: 1;
				margin-top: 15px;
				font-size: 20px;
				color: $purple;
				position: relative;
				left: 0;
				top: 0;
			}
		}
	}
	.captionImage {
		background: $purple;
		color: #fff;
		width: 100%;
		padding: 10px 20px 20px 20px;
		margin: 30px 0;
		padding-left: 90px;
		padding-top: 20px;
		position: relative;

		&.active {
			transform: translateX(0);
		}

		strong {
			font-family: 'KPMG', 'sans-serif';
			font-size: 36px;
			letter-spacing: 1px;
			line-height: 1;
			font-weight: 300;
			display: block;
			margin-bottom: 10px;
		}
		a, a:hover, a:focus, a:active {
			color: #fff;
			text-decoration: none;
			padding-bottom: 2px;
			border-bottom: 1px solid rgba(#fff, 0.6);
		}

		&:before {
			content: 'i';
			display: flex;
			background: #fff;
			width: 40px;
			height: 40px;
			border-radius: 999px;
			justify-content: center;
			align-items: center;
			line-height: 1;
			margin-top: 15px;
			font-size: 20px;
			color: $purple;
			margin-bottom: 20px;
			position: absolute;
			left: 20px;
			top: 5px;
		}
	}
}

@media (max-width: 900px) {
  .article {
  	padding: 10px 30px;
  }

	blockquote {
		&.right, &.left, &.center {
			font-size: 20px !important;
		}
	}
}

@media (max-width: 1021px) {
  .article {
    blockquote {
    	float: none !important;

    	&.captionImage {
    		margin: 40px auto;
    		width: 100%;
    		max-width: 360px;
    	}
    }

    p.right {
    	float: none !important;
			width: 100%;
			max-width: 360px;
			margin: 40px auto 10px auto;
    }
  }
}