@import '../../styles/settings/_variables';

.infographic {
	// background: #fff;
	&__spacer {
		width: 2px;
		height: 80px;
		background: #000;
		margin: 0 auto;
		transform: scaleY(0);
		transition: transform 1s $easeOutCubic;

		.post__animation.active > & {
			transform: scaleX(1);
		}
	}

	img {
		width: 100%;
		height: auto;
	}

	&__image {
		transform: translateY(100px);
		opacity: 0;
		transition: all 0.8s $easeOutCubic;

		.post__animation.active > & {
			transform: translateY(0);
			opacity: 1;
		}
	}
}