.related {
	display: flex;
	flex-direction: row;

	&__block {
		padding: 20px 30px;
		width: 50%;

		&.related__prev {
			background: #9B9B9B;
		}

		&.related__next {
			background: #4A4A4A;
		}
	}

	.post__title span {
		color: #fff;
	}
	.post__excerpt {
		color: rgba(#fff, 0.7);
	}
	.post__caption {
		color: rgba(#fff, 0.7) !important;
	}
	.post__tags span {
		background: rgba(#fff, 0.1);
	}
	.related__link {
		color: rgba(#fff, 0.7);
		font-size: 1.4rem;
	}
}

@media (max-width:900px) {
	.related {
		flex-direction: column;
	}
	.related__block {
		width: 100%;
	}
}