@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables.scss';

.hero {

	&__title, &__text {
		transform: translateY(100px);
		transition: all 0.8s $easeOutCubic;
		opacity: 0;

		.post__animation.active > & {
			transform: translateY(0);
			opacity: 1;
		}
	}


	&__children {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		margin-bottom: 130px;
	}

	.hero__children--in-depth {
		.hero__text span, .hero__text p {
			background: $purple;
		}
	}

	.hero__children--point-of-view {
		.hero__text span, .hero__text p {
			background: $green;
		}
	}

	.hero__children--briefing {
		.hero__text span, .hero__text p {
			background: $blue;
		}
	}

	&__text span,
	&__text p {
		background: $purple;
		padding: 0 0 5px 0;
		line-height: 1.4;
		display: inline;
		color: #fff;
	}

	&__title span {
		font-size: 100px;
		font-family: 'KPMG';
		letter-spacing: 2px;
		line-height: 1.2;
	}

	&__content {
		margin-top: 35px;
	}

	&__author {
		margin-top: 15px;
	}

	&__content p,
	&__author span {
		font-size: 18px;
		line-height: 1.4;
		padding: 3px 0 4px 0;
	}
}

.hero-small {
	width: 100%;
	height: 30vh;
	background: #f2f2f2;
	margin-bottom: 100px;
	display: flex;
	align-items: center;

	&__title {
		// font-family: 'KPMG', 'sans-serif';
		font-size: 4rem;
		text-transform: uppercase;
		letter-spacing: 6px;
		line-height: 1.2;
	}
}

@media (max-width: 900px) {
	.hero__title span {
		font-size: 60px;
	}
	.hero-small__title {
		font-size: 3rem;
	}
}