@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables.scss';

.sidebar {
	width: 360px;
	height: 100vh;
	top: 0;
	left: 0;
	background: $purple;
	transform-origin: 0% 50%;
	transform: translateX(-100%);
	position: fixed;
	transition: transform 0.8s $easeInOutCubic;
	z-index: 999;

	// Resting state - intro
	.sidebar__intro {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		// opacity: 0;
		// visibility: hidden;
		// transition: visibility 0.4s 0.4s ease;
		padding: 0 30px;
		color: #fff;

		// header, h1.title, .subtitle {
		// 	display: inline-block;
		// }

		h1, div {
			transform: translateX(-100px);
			opacity: 0;
			transition: all 0.5s $easeInOutCubic;
		}
	}
	.sidebar__nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		transition: all 0s ease;
		// padding: 0 30px;
	}

	&.nav {
		transform: translateX(-300px);

		// Resting state - nav
		.sidebar__nav {
			opacity: 1;
			transition: opacity 0.5s 0.4s $easeInOutCubic;
		}
		.sidebar__intro {
			opacity: 0;
			transition: opacity 0.5s 0.4s $easeInOutCubic;
		}
	}

	&.open {
		transform: translateX(0);

		// Open state - intro
		.sidebar__intro {
			// opacity: 1;
			visibility: visible;

			h1, div {
				transform: translateX(0);
				opacity: 1;
			}

			h1.title {
				transition: transform 0.5s 0.4s $easeInOutCubic, opacity 0.5s 0.4s $easeInOutCubic;
			}
			.subtitle {
				transition: transform 0.5s 0.5s $easeInOutCubic, opacity 0.5s 0.5s $easeInOutCubic;
			}
			.intro__content {
				transition: transform 0.5s 0.6s $easeInOutCubic, opacity 0.5s 0.6s $easeInOutCubic;
			}
			.slogan {
				transition: transform 0.5s 0.7s $easeInOutCubic, opacity 0.5s 0.7s $easeInOutCubic;
			}
			.issue {
				transition: transform 0.5s 0.8s $easeInOutCubic, opacity 0.5s 0.8s $easeInOutCubic;
			}
			.kpmg-logo {
				transition: transform 0.5s 0.9s $easeInOutCubic, opacity 0.5s 0.9s $easeInOutCubic;
			}
		}
	}

	&.nav.open {
		transform: translateX(0);

		// Open state - nav
		.sidebar__intro {
			h1, div {
				transform: translateX(-100px);
				opacity: 0;
				transition: all 0.5s $easeInOutCubic;
			}
		}

		.sidebar__nav {
			opacity: 1;
			transition: all 0.4s ease;
		}
	}

	&__toggle {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.sidebar__intro {
	display: flex;
	flex-direction: column;
	height: 100vh;

	header {
		margin-top: 60px;

		h1.title {
			font-weight: 300;
			font-size: 10rem;
			letter-spacing: 1.8rem;
			padding: 0;
			margin: 0;
			line-height: 1;
		}

		.subtitle {
			font-size: 1.8rem;
		}
	}

	main {
		margin: auto 0 60px 0;

		.intro__content {
			margin-bottom: 30px;
		}

		.slogan {
			margin-bottom: 30px;
			font-weight: bold;
		}

		.issue {
			margin-bottom: 30px;
		}
	}
}

.search__toggle {
	width: 28px;
	height: 28px;
	cursor: pointer;
	position: absolute;
	top: 50px;
	right: 16px;
}

.mobile-button {
	display: none;
	background: $purple;
	position: fixed;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
	border-radius: 999px;
	transform: scale(0.8);
	border: 2px solid rgba(#fff, 0.2);

	.hamburger {
		position: relative;
		top: 4px;
	}
}

@media (max-width: 900px) {
	.sidebar.nav {
		transform: translateX(-100%);
	}
	.mobile-button {
		display: inline-block;
	}
}