@import '../../styles/settings/_colors.scss';

.intro {
	&__wrapper {
		width: 100%;
		background: $purple;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left:0;
		padding-left: -60px;
		z-index: 10000;
	}

	&__transition {
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		z-index: 2;
		transform-origin: 0% 50%;
		transform: scaleX(0);

		&--1 {
			background: $green;
		}
		&--2 {
			background: $blue;
		}
		&--3 {
			background: $purple;
			width: 360px;
		}
	}
}