@import '../../styles/settings/_colors.scss';

section.footer {
	background: $purple;
	padding: 30px;

	.footer__logo {
		padding-right: 30px;
	}

	.copy {
		color: #fff;
		display: flex;
		flex-direction: row;
		width: 100%;
		font-size: 1.2rem;
		line-height: 1.4;

		p {
			margin: 0;
			opacity: 0.8;
		}
	}
}