@import '../../styles/settings/_colors.scss';
@import '../../styles/settings/_variables.scss';

.search {
	&__wrapper {
		padding: 15px;
		position: fixed;
		top: 0;
		left: 60px;
		min-height: 100vh;
		width: 300px;
		background: rgba($purple, 0.96);
		z-index: 100;
		transform: translate(-360px);
		transition: transform 0.8s $easeInOutCubic;

		&.active {
			transform: translate(0);
		}

		input {
			width: 100%;
			font-size: 20px;
			background: rgba(#fff, .2);
			outline: none;
			border: 2px solid rgba(#fff, 0.5);
			margin: 2px auto 0;
			padding: 6px;
			color: #fff;
			border-radius: 4px;
			position: relative;

			&::placeholder {
				color: #fff;
			}

			&:after {
				position: absolute;
				top: 0;
				right: 0;
				content: 'x';
				display: block;
				width: 20px;
				height: 20px;
			}
		}
	}

	&__results {
		color: #fff;
		padding: 0;

		li {
			line-height: 1.4;
			padding: 10px 0;
			margin: 0 2px;
			border-bottom: 1px solid rgba(#fff, 0.1);
			text-decoration: none;
			display: block;
			cursor: pointer;

			span {
				font-size: 12px;
				color: rgba(#fff, 0.5);
				display: block;
			}
		}
	}

	&__close {
		position: relative;
		display: inline-block;
		width: 24px;
		top: 9px;
		margin-left: 10px;
		cursor: pointer;

		&:before, &:after {
			position: absolute;
			content: '';
			display: inline-block;
			width: 2px;
			height: 24px;
			background: #fff;
			top: 0;
			left: 10px;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}

	&__input {
		display: flex;
		flex-direction: row;
		position: relative;
	}
}

@media (max-width: 900px) {
	.search__wrapper {
		left: 0;
		width: 360px;
	}
}