@import '../../styles/settings/_colors.scss';

.loading-screen {
	width: 100%;
	background: $purple;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
}