@import '../../styles/settings/_variables.scss';
@import '../../styles/settings/_colors.scss';

.post {
	margin-bottom: 120px;
	// cursor: pointer;
	position: relative;
	height: 100%;

	&:hover {
		.image {
			transform: scale(1.1);
		}

		// .post__hr {
		// 	width: 100%;
		// }

		// .post__hr.small {
		// 	width: 100px;
		// }
	}

	&__featured {
		width: 100%;
		height: 100%;
		background: #f6f6f6;
		position: absolute;
		top: -50px;
		left: -100px;
    z-index: -1;
	}

	&__hr {
		width: 100px;
		height: 3px;
		margin-bottom: 10px;
		transition: width 0.6s $easeInOutCubic;

		&.small {
			height: 1px;
			margin: 20px 0 10px 0;
		}

		&.blue {
			background: #005EB8;
		}
		&.purple {
			background: #483698;
		}
		&.green {
			background: #00AEA8;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 2rem;
		margin: 20px 0 10px 0;
	}

	&__excerpt {
		color: #4A4A4A;
	}

	&__tags {
		margin: 20px 0;

		// &.purple span {
		// 	color: #483698;
		// }

		// &.blue span {
		// 	color: #005EB8;
		// }

		// &.green span {
		// 	color: #00AEA8;
		// }

		span {
			display: inline-block;
			background: #e8e8e8;
			border-radius: 3px;
			line-height: 1;
			margin-right: 8px;
			margin-bottom: 8px;
			font-size: 1.2rem;
			padding: 7px 8px 5px 8px;
		}
	}
}


.post__content {
	a, a:hover, a:active, a:focus, a:active:focus {
		text-decoration: none;
		.post {
			&__title {
				color: #000;
			}
		}
	}
	a:hover {
		.post__title span {
			// background: rgba($blue, 1);
			color: #fff;
		}
	}
}

.post__title span {
	// background: rgba($blue, 0);
	background: transparent;
	transition: background 0.4s $easeInOutCubic, color 0.4s $easeInOutCubic;
	padding: 5px 0 2px 0;
	color: #000;
}

.post__category {
	letter-spacing: 2px;

	a {
		text-decoration: none;
	}
	&--pb {
		padding-bottom: 15px;
	}
}

.post__tags a:hover span {
	color: #fff !important;
}

.post__tags span {
	transition: all 0.4s $easeInOutCubic;
}

.post__content {
	&.post__point-of-view {
		a:hover {
			.post__title span {
				background: rgba($green, 1);
			}
		}
		.post__tags a:hover span {
			background: $green;
		}
	}
	&.post__in-depth {
		a:hover {
			.post__title span {
				background: rgba($purple, 1);
			}
		}
		.post__tags a:hover span {
			background: $purple;
		}
	}
	&.post__briefing {
		a:hover {
			.post__title span {
				background: rgba($blue, 1);
			}
		}
		.post__tags a:hover span {
			background: $blue;
		}
	}
}


@media (max-width: 1021px) {
	.post__large {
		margin-bottom: 0;
	}
	.post__text--large .post__category, .post__text--large .post__hr {
		display:none;
	}
}
@media (min-width: 1020px) {
	.post__large .post__category, .post__large .post__hr {
		display: none;
	}
}