@import '../../styles/settings/_variables.scss';

.post__animation {
	opacity: 1;
	// height: 100%;

	.image__wrapper {
		// transform-origin: 50% 0%;
		// transform: scaleY(1.2);
		// transition: all 0.6s $easeOutCubic;
	}

	.post__hr, .post__content, .post__category {
		opacity: 0;
		transform: translateX(-50px);
		transition: all 0.6s 0.6s $easeOutCubic;
	}

	.image__overlay {
		transform-origin: 100% 0%;
		transition: all 0.6s $easeOutCubic;
	}

	.post__featured {
		opacity: 0;
		transform: translateX(-100px);
		transition: all 0.6s 0.4s $easeOutCubic;
	}

	.image {
		transform: scale(1.4);
		transition: all 1s $easeOutCubic;
		transform-origin: 50% 50%;
	}

	&.active {
		opacity: 1;

		.image__wrapper {
			transform: scaleY(1);
		}

		.post__hr, .post__content, .post__featured, .post__category {
			opacity: 1;
			transform: translateX(0);
		}

		.image {
			transform: scale(1);
		}

		.image__overlay {
			transform: scaleX(0);
		}
	}
}