@font-face {
    font-family: 'KPMG';
    src: url('./fonts/KPMG-Extralight.woff2') format('woff2'),
        url('./fonts/KPMG-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'KPMG';
    src: url('./fonts/KPMG-Light.woff2') format('woff2'),
        url('./fonts/KPMG-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('./fonts/Univers-Light.woff2') format('woff2'),
        url('./fonts/Univers-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('./fonts/Univers.woff2') format('woff2'),
        url('./fonts/Univers.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('./fonts/Univers-Bold.woff2') format('woff2'),
        url('./fonts/Univers-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}