@import '../../styles/settings/_variables.scss';

.image {
	width: 100%;
	background-color: #f6f6f6;
	background-position: 50% 50%;
	background-size: cover;
	transition: transform 0.6s $easeInOutCubic;

	&__wrapper {
		overflow: hidden;
		position: relative;
	}

	&__overlay {
		top: 0;
		bottom: 0;
		position: absolute;
		width: 100%;
		height: 102%;
		background-color: #fff;
	}
}

.active a:hover .image {
	transition: transform 0.6s $easeInOutCubic;
	transform: scale(1.1);
}

