.ph-image {
  position: relative;
  overflow: hidden;

  &__placeholder {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    filter: blur(25px);
    opacity: 1;
    visibility: visible;
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);

    &.ph-hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
}

.ph__wrapper {
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}