ul.nav {
	list-style-type: none;
	padding: 0;
	margin: 100px 60px 0 30px;

	li {
		a {
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-decoration: none;
			margin-top: 15px;
			display: inline-block;
			font-size: 14px;
			line-height: 1.4;
			// border-bottom: 1px solid rgba(#fff, 0.1);

			&:hover, &:focus, &:active {
				border-bottom: 1px solid rgba(#fff, 0.5);
			}
		}
	}
}
