:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-size: 62.5%;
}

html {
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  font-family: 'Univers', 'sans-serif';
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  padding-left: 60px;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.6;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1 {
	font-family: 'KPMG', 'sans-serif';
}

.img-fluid {
  width: 100%;
  height: auto;
}

@media (max-width: 1021px) {
  .container-fluid {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 900px) {
  body {
    padding-left: 0;
  }
}


